<html>
  <head>
    {% load static %}
    <link href="{% static 'styles.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart','calendar']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts() {

        /* Chart 1 */
        var data = google.visualization.arrayToDataTable({{values|safe}});
        var options = {
          title: {{h_title|safe}} +' vs. '+ {{v_title|safe}},
          hAxis: {title: {{h_title|safe}}},
          vAxis: {title: {{v_title|safe}}},
          legend: 'none'
        };
        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        /* Chart 2 */
        var data2 = google.visualization.arrayToDataTable({{values2|safe}});
        var options2 = {
          title: {{h_title2|safe}} +' vs. '+ {{v_title2|safe}},
          hAxis: {title: {{h_title2|safe}}},
          vAxis: {title: {{v_title2|safe}}},
          legend: 'none'
        };
        var chart2 = new google.visualization.ScatterChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);

        /* Chart 3 */
        var d = google.visualization.arrayToDataTable({{datosjson|safe}});
        var opt = {
          title: {{bar|safe}},
          hAxis: {title: {{bar|safe}}},
          vAxis: {title: {{leg|safe}}},
          legend: 'none'
        };
        var ch = new google.visualization.BarChart(document.getElementById('chart_div3'));
        ch.draw(d, opt);


      }
    </script>
  </head>
  <body>
    <h1>Chart 1</h1>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <h1>Chart 2</h1>
    <div id="chart_div2" style="width: 900px; height: 500px;"></div>
    <h1>Chart 3</h1>
    <div id="chart_div3" style="width: 900px; height: 500px;"></div>
  </body>
</html>
